In [ ]:
#creation of date table
CREATE TABLE dimDate (
    date_key INTEGER GENERATED ALWAYS AS IDENTITY PRIMARY KEY, 
    date DATE,
    year SMALLINT,
    quarter SMALLINT,
    month SMALLINT,
    day SMALLINT,
    week SMALLINT,
    is_weekend BOOLEAN
);

### To check your work, run the following query to see a table with the field names and data types. The output should match the table below.

In [ ]:
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name   = 'dimdate'

In [ ]:
CREATE TABLE dimCustomer
(
  customer_key SERIAL PRIMARY KEY,
  customer_id  smallint NOT NULL,
  first_name   varchar(45) NOT NULL,
  last_name    varchar(45) NOT NULL,
  email        varchar(50),
  address      varchar(50) NOT NULL,
  address2     varchar(50),
  district     varchar(20) NOT NULL,
  city         varchar(50) NOT NULL,
  country      varchar(50) NOT NULL,
  postal_code  varchar(10),
  phone        varchar(20) NOT NULL,
  active       smallint NOT NULL,
  create_date  timestamp NOT NULL,
  start_date   date NOT NULL,
  end_date     date NOT NULL
);

In [ ]:
CREATE TABLE dimMovie
(
  movie_key          SERIAL PRIMARY KEY,
  film_id            smallint NOT NULL,
  title              varchar(255) NOT NULL,
  description        text,
  release_year       year,
  language           varchar(20) NOT NULL,
  original_language  varchar(20),
  rental_duration    smallint NOT NULL,
  length             smallint NOT NULL,
  rating             varchar(5) NOT NULL,
  special_features   varchar(60) NOT NULL
);

In [ ]:
CREATE TABLE dimStore
(
  store_key           SERIAL PRIMARY KEY,
  store_id            smallint NOT NULL,
  address             varchar(50) NOT NULL,
  address2            varchar(50),
  district            varchar(20) NOT NULL,
  city                varchar(50) NOT NULL,
  country             varchar(50) NOT NULL,
  postal_code         varchar(10),
  manager_first_name  varchar(45) NOT NULL,
  manager_last_name   varchar(45) NOT NULL,
  start_date          date NOT NULL,
  end_date            date NOT NULL
);

In [ ]:
%%sql
CREATE TABLE factSales
(
 sales_key INTEGER REFERENCES ,
 date_key INTEGER REFERENCES dimDate (date_key),
 customer_key INTEGER REFERENCES dimCustomer (customer_key)
 movie_key INTEGER REFERENCES dimMovie (movie_key)
 store_key INTEGER REFERENCES dimStore (store_key)
 sales_amount INTEGER
);